doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.menu#my_menu
			a(href='#') Главная
			a(href='#') Новости
			a(href='#') О компании
			a(href='#') Услуги
	block content
